@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  outline: 0 !important;
  /* border: 0; */
}

@layer components {
  .bg-gradient {
    /* background: linear-gradient(120deg, #7250d5 0, #4e47aa 30%, rgba(61, 58, 244, 0.8) 65%, rgba(58, 86, 244, 0.9) 65%, rgba(61, 58, 244, 0.9) 85%); */
    background: rgb(37,99,235);
    background: rgb(32, 148, 243),
  }

  .diff {
    grid-template-columns: repeat(2, 1fr);
  }

  .course__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 250px;
  }

  .shad {
    box-shadow: 4px 4px 16px 6px #0001;
  }

  .rounded-base {
    border-radius: 3px;
  }

  .leading-loose {
    line-height: 2 !important;
  }

  .heading{
    @apply text-3xl sm:text-3xl md:text-4xl font-bold text-primary;
  }

  .bold-text {
    @apply text-sitetext text-sm sm:text-base md:text-lg font-bold;
  }

  .thin-text {
    @apply text-sitetext text-sm sm:text-base md:text-lg font-normal;
  }

  .normal-text {
    @apply text-sitetext text-sm sm:text-base md:text-lg font-medium;
  }

  .styled-heading {
    @apply font-serif text-2xl sm:text-3xl md:text-4xl;
  }

  .dark-heading {
    @apply text-sitetext;
  }

  
}

@layer utilities{
  .fancy-bg {
    position: relative;
    overflow: hidden;
  }

  .fancy-bg::before {
    content: '';
    position: absolute;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    opacity: .4;
    background: linear-gradient(aqua, #09dba0);
    top: -20%;
    left: -5rem;
    z-index: 0;
  }

  .fancy-bg::after {
    content: '';
    position: absolute;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    opacity: .4;
    background: linear-gradient(orangered, #fac451);
    top: 80%;
    right: -5rem;
    z-index: 0;
  }

  .fadeOut {
    animation: skeleton 1s ease-in-out infinite alternate;
  }

  @keyframes skeleton {
    to {
      opacity: 0.5;
    }
  }
}